:root {
  font-family: Helvetica, Arial, sans-serif;
  
  --light: #ddd;
  --dark:  #222;
  --cell:  30px;
  --shift: calc(var(--cell) - 1px);
  --size:  calc(10 * var(--cell));
  --half:  calc(0.5 * var(--size));
  --left:  calc(var(--cell) - var(--size));
  --deep:  calc(var(--cell) * 5);
  --blue:  #0066;
  --base:  #030;
  --over:  #fff2;
  --hill:  #0606;

  counter-set:
    row 0
    col 0
    height 0
    depth 0
  ;

  color: var(--light);
  background-color: var(--dark);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  position: relative;
  width: var(--size);
  height: var(--half);
  border: 1px solid #fff;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: var(--base);
  overflow: hidden;
}

label {
  --size: 1em;
  --width: calc(2 * var(--size));
  position: absolute;
  z-index: 1;
  bottom: 4px;
  right: 2px;
  color: #fff8;
}
label::before {
  content: "Grid"
}
label::after {
  content: "Relief"
}
input {
  position: absolute;
  left: -999vw;
}
input + span {
  position: relative;
}
input + span::before,
input + span::after {
  content: ".";
  display: inline-block;
  width: var(--width);
  height: var(--size);
  border-radius: var(--size);
  border: 1px solid white;
  box-sizing: border-box;
  opacity: 0.5;
}
input + span::after {
  position: absolute;
  width: var(--size);
  background-color: #fff;
  border-color: transparent;
  left: 0;
  transition: left 0.2s
}
input:checked + span::after {
  left: var(--size)
}

div[class|=hill] {
  position: absolute;
  right: var(--shift);
  top: 0;
  width: var(--deep);
}
div[class|=hill] {
  position: absolute;
  top: 0;
  width: var(--size);
  height: var(--deep);
  border-radius: 50%;
  background-color: var(--hill);
}
div.hill-1 {
  right: var(--half);
}

div[class|=sea] {
  position: absolute;
  left: var(--cell);
  top: 0;
  width: var(--deep);
}
div[class|=sea] {
  position: absolute;
  left: var(--shift);
  top: 0;
  width: var(--size);
  height: var(--deep);
  border-radius: 50%;
  background-color: var(--blue);
}
div.sea-1 {
  background-color: #00c;
  left: var(--half);
}

div[class^=col] {
  position: absolute;
  top: 0;
  left: var(--shift);
  width: var(--cell);
  height: var(--size);
  border-left: 1px dashed #888;
  box-sizing: border-box;
}
div[class^=col]:hover {
  counter-increment: col;
  background-color: #f001;
}
div.col-1{
  left: -1px;
}

div[class^=row] {
  position: relative;
  top: var(--shift);
  width: var(--size);
  height: var(--size);
  border-top: 1px dotted #888;
  box-sizing: border-box;
}
div.row-1 {
  left: -1px; /* var(--left); */
  top: -1px;
}
div[class^=row]:hover {
  counter-increment: row;
}

div[class^=row]::before {
  content: counter(col, upper-alpha) counter(row);
  position: absolute;
  width: var(--cell);
  line-height: var(--cell);
  text-align: center;;
  display: none;
  background-color: var(--over);
}
div[class^=row]:hover::before {
  display: inline-block;
}
div[class^=row]:has(:hover)::before {
  display: none;
}